.info-section {
    background-color: #fff;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 700px;
    margin: 20px auto; /* Centra la tarjeta*/
}

.info-section p {
    font-size: 1.1em;
    line-height: 1.8;
    color: var(--text-color);
    border-bottom: 1px solid #ecf0f1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.info-section p:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.info-section p strong {
    color: var(--primary-color);
    min-width: 180px;
    display: inline-block;
}
